<!DOCTYPE html>
<html lang="en">

<!--The head tag-->
<%- include("./partials/head.ejs") %>

  <body>

    <!-- The nav. = escapes special characters we use - instead to keep html tags-->
    <%- include("./partials/nav.ejs") %>

      <div class="blogs content table-responsive">
        <h2>All Suppliers</h2>

        <table class="table table-striped table-bordered">
          <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Action</th>
          </tr>

          <% if (suppliers.length> 0) { %>
            <% suppliers.forEach((supplier)=> { %>

              <tr>                
                <td>
                  <a href="/suppliers/details/<%= supplier.supplier_id %>">
                    <%= supplier.company_name %>
                  </a>
                </td>
                <td>
                  <%= supplier.contact_name %>
                </td>               
                <td>
                  <%= supplier.email %>
                </td>
                <td>
                  <%= supplier.product_name %>
                </td>
                <td>
                  <%= supplier.price %>
                </td>
                <td>
                  <%= supplier.quantity %>
                </td>
                <td>
                  <%= supplier.cost %>
                </td>
                <td>
                  <a class="update btn btn-info" href="/suppliers/detailsUpdate/<%= supplier.supplier_id %>">Update</a>
                </td>
              </tr>

              <% }) %>
                <% } else { %>
                  <p>There are no suppliers to display...</p>
                  <% } %>

        </table>
      </div>

      <!-- The footer-->
      <%- include("./partials/footer.ejs") %>

  </body>

</html>